* {
  margin: 0;
  padding: 0;
}
body {
  font: 71%/1.5 Verdana, Sans-Serif;
  background: hsl(220deg 6.47% 6.79%);
  position: relative;
}

.row {
  margin: 5px;
  display: flex;
  justify-content: center;
}
.cas-1, .cas-2, .cas-3, .cas-4, .cas-5, .cas-6{
    margin: 2px ;
    border: solid rgb(66, 66, 66);
    width: 40px;
    height: 40px;
    border-radius: 0.4rem;
}

.second-row {
  clear: left;
}
/* Corregir la posicion del containter */
#container { 
  width: 688px;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 110%;
  left: 8%;
}
#title {
  display: flex;
  justify-content: center;
  align-items: center;
  font: 1.5rem Verdana, Sans-Serif;
  color: #f9f9f9;
}

#write {
  font: 1em/1.5 Verdana, Sans-Serif;
}
#keyboard {
  margin: 0;
  padding: 0;
  list-style: none;
}
#keyboard li {
  float: left;
  margin: 0 5px 5px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #fff;
  border: 1px solid #f9f9f9;
  border-radius: 5px;
}
#a,
#z {
  clear: left;
}
#keyboard .right-shift {
  width: 135px;
}
